Markdown -> Texto explicativo

Criar tabela

In [ ]:
import sqlite3

# criar conexao
conn = sqlite3.connect('alunos.db')
cursor = conn.cursor()

# criar tabela
cursor.execute('''
CREATE TABLE IF NOT EXISTS alunos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT,
    nota REAL
)
''')

conn.commit()
conn.close()

Inserindo Registros

In [ ]:
import sqlite3

conn = sqlite3.connect('alunos.db')
cursor = conn.cursor()

#dados
dados = [
    ('Mariana', 10.0)
    ('Arthur', 5.0)
    ('Andre', 8.9)
    ('Laryssa', 7.6)
]

# Inserindo dados
cursor.executemany('INSERT INTO alunos (nome, nota) VALUES (?, ?)', dados)

conn.commit()
conn.close()

Deletando um usuario

In [ ]:
import sqlite3

conn = sqlite3.connect('alunos.db')
cursor = conn.cursor()

# deletando aluno que tem ID 1 
cursor.execute('DELETE FROM alunos WHERE id = ?', (1, ))

conn.commit()
conn.close()

Selecionando alunos para visualizar

In [ ]:
import sqlite3

conn = sqlite3.connect('alunos.db')
cursor = conn.cursor()

cursor.execute('SELECT * FROM alunos')
dados = cursor.fetchall() #executar consulta

for linha in dados:
    print(linha)